API_TOKEN=7329617947:AAEfIG6-YERgKqhsCZ7ypVOmmlyMM57Dpgs
OPENAI_API_KEY=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
