API_TOKEN=7329617947:AAEfIG6-YERgKqhsCZ7ypVOmmlyMM57Dpgs
OPENAI_API_KEY=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
